<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="util.css">
    <title>Myntra</title>
</head>
<body>
    <nav>
        <img src="images/logo.JPEG" alt="" class="logo">
        <input id="search" type="text">
        <div class="left-container">
            <ul>
                
                    <li><a href="">men</a></li>
                    <li><a href="">women</a></li>
                    <li><a href="">kid</a></li>
                    <li><a href="">home&living</a></li>
                    <li><a href="">beauty</a></li>
                    <li><a href="">studio</a></li>
                    <li><img src="images/button/download.png" alt=""></li>
            </ul>
        </div>
        <div class="right-container">

        </div>
        <div class="ham">
            <img src="images/button/hamburger.png" onclick="showmenu()" alt="">
        </div>
        <div class="cross">
            <img src="images/button/cross.png" onclick="hidemenu()" alt="">
        </div>
    </nav>
    
